.idea
sentiment/sentiment_train/multi_domain_sentiment_dataset/processed_stars/books
main.py
sentiment/__pycache__
sentiment/sentiment_train/imdb50k/dataset_cleaned.json
sentiment/sentiment_train/imdb50k/dataset_raw.csv
sentiment/stanford_sentiment_treebank_sources/dictionary.txt
sentiment/stanford_sentiment_treebank_sources/datasetSplit.txt
sentiment/stanford_sentiment_treebank_sources/phrase_sentiments.json
sentiment/stanford_sentiment_treebank_sources/sentences_tokens.json
sentiment/stanford_sentiment_treebank_sources/sentiment_labels.txt
sentiment/stanford_sentiment_treebank_sources/SOStr.txt
sentiment/sentiment_train/multi_domain_sentiment_dataset/processed_acl/books
sentiment/sentiment_train/multi_domain_sentiment_dataset/processed_acl/dvd
sentiment/sentiment_train/multi_domain_sentiment_dataset/processed_acl/electronics
sentiment/sentiment_train/multi_domain_sentiment_dataset/processed_acl/kitchen
sentiment/sentiment_train/multi_domain_sentiment_dataset/processed_stars/dvd
sentiment/sentiment_train/multi_domain_sentiment_dataset/processed_stars/electronics
sentiment/sentiment_train/multi_domain_sentiment_dataset/processed_stars/kitchen
